{% extends 'UserInterface/base.html.twig' %}

{% block title %}
    Books
{% endblock %}

{% block content %}
    <div class="container text-center">
		<div class="row">
			<div class="col-md-7 col-sm-12  text-white">
				<h6>TEAM RT2</h6>
				<h1>EXCITING ADVENTURE</h1>
				<p>
					Scroll down to see more
				</p>
				<button class="btn btn-light px-5 py-2 primary-btn">
					We have a 50% reduction!
				</button>
			</div>
		</div>
	</div>

    <main>
        <!-- Scientific Books Section -->
        <section class="book-sec">
            <h2 class="book-category">Search, Read, And Purchase</h2>
            <div class="container">
                <div class="book-list" id="book-list">
                    {% for book in books %}
                        <div class="book-item">
                            <a href="{{ path('app_book_details', {'id': book.id}) }}" class="fill-div">
                                <img class="book-cover" src="{{ book.book_image }}" alt="book" />
                                <p class="book-title">{{ book.book_title }}</p>
                                <p class="book-author">{{ book.book_author }}</p>
                                <div class="price-area">
                                    <p class="book-price">{{ book.book_price }} TND</p>
                                </div>
                            </a>
                            <button class="btn-add-to-cart">Add to Cart</button>
                        </div>
                    {% endfor %}
                </div>
                <button class="load-more-btn" id="load-more-btn" data-page="1">Load More</button>
            </div>
        </section>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var loadMoreBtn = document.getElementById('load-more-btn');
            var bookList = document.getElementById('book-list');
            var currentPage = parseInt(loadMoreBtn.getAttribute('data-page'));

            loadMoreBtn.addEventListener('click', function() {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/books?page=' + (currentPage + 1), true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.books.length > 0) {
                            currentPage++;
                            response.books.forEach(function(book) {
                                var bookItem = document.createElement('div');
                                bookItem.classList.add('book-item');
                                bookItem.innerHTML = `
                                    <a href="/book/${book.id}" class="fill-div">
                                        <img class="book-cover" src="${book.book_image}" alt="book" />
                                        <p class="book-title">${book.book_title}</p>
                                        <p class="book-author">${book.book_author}</p>
                                        <div class="price-area">
                                            <p class="book-price">${book.book_price} TND</p>
                                        </div>
                                    </a>
                                    <button class="btn-add-to-cart">Add to Cart</button>
                                `;
                                bookList.appendChild(bookItem);
                            });
                        } else {
                            loadMoreBtn.style.display = 'none';
                        }
                    }
                };
                xhr.send();
            });
        });
    </script>
{% endblock %}