{% extends 'UserInterface/base.html.twig' %}

{% block title %}
    {{ book.getBookTitle() }} - Book Info
{% endblock %}

{% block content %}
<header>
<main>
    <section class="description-sec">
        <div class="image-container">
        <div class="image-wrapper">
            <img class="book-cover" src="{{ asset(book.getBookImage()) }}" alt="book cover"/>
        </div>
    </div>
        <div class="description-container">
            <div class="title">
                {{ book.getBookTitle() }}
            </div>
            <div class="author">
                by <span class="authorname">{{ book.getBookAuthor() }}</span> (Author)
            </div>
            <hr/>
            <div class="preorder">
                <span class="preorder-tag"></span>&nbsp;
            </div>
            <div class="description-text">
                {{ book.getBookDescription() }}
            </div>
            <a class="report-issues" href="mailto:iheb.gafsi@insat.ucar.tn">Report an issue about this product</a>
            <hr/>
        </div>
        <div class="purchase-details-container">
            <div class="hardcover-price">
                <span class="hardcover-text">Hardcover</span><br>
                <span class="price1">{{ book.getBookPrice() }} TND</span>
            </div>
            <span class="authorname">Other New</span>
            From
            <span class="authorname">{{ book.getBookPrice() }} TND</span>
            <hr/>
            <div class="buy-new">
                <span class="buy-new-text">Buy New</span>
                <span class="price2">{{ book.getBookPrice() }} TND</span>
            </div>
            <div class="actual-price">
                <span class="normal-text">List Price:</span>
                <span class="price3"><s>{{ book.getBookPrice() }} TND</s></span>
            </div>
            <div class="actual-price">
                <span class="normal-text">Save: {{ book.getBookPrice() }} TND</span>
            </div>
            <div class="normal-text">
                {{ book.getBookPrice() }} TND Shipping & Import Fees Deposit to Tunisia
            </div>
            <div class="normal-text">
                Delivery
                <span class="buy-new-text">Wednesday, January 22, 2025</span>
            </div>
            <div class="big-title">
                This title will be released on January 21, 2025.
            </div>
            <!-- <button class="btn-add-to-cart">Add to Cart &nbsp;<span class="cart-tag"></span></button> -->
            <table class="buy-info">
                <tr>
                    <td>Ships from</td>
                    <td>Bookini</td>
                </tr>
                <tr>
                    <td>Sold by</td>
                    <td>Bookini.tn</td>
                </tr>
                <tr>
                    <td>Returns</td>
                    <td class="returns-payment">Eligible for Return, Refund or Replacement within 30 days of receipt</td>
                </tr>
                <tr>
                    <td>Payment</td>
                    <td class="returns-payment">Secure transaction</td>
                </tr>
            </table>
        </div>
    </section>
</main>
</header>
{% endblock %}
