{% extends 'UserInterface/base.html.twig' %}

{% block title %}
	Cart
{% endblock %}
	{% block cartstyle %}
        <link rel="stylesheet" href="{{ asset('styles/cart.css') }}"/>
    {% endblock %}
{% block content %}
<header>
	<div class="container text-center">
		<div class="row">
			<div class="col-md-7 col-sm-12 text-white">
				<h6>PURCHASE NOW</h6>
				<h1>SHOPPING CART</h1>
				<p>
					Pay For Your Books And Start Reading!
				</p>
				<p>
					Total Price: <s><span id="total-price">{{ total }}</span> TND</s> &nbsp;&nbsp; 50% off
				</p>
				<button class="btn btn-light px-5 py-2 primary-btn" onclick="buy_now()">
					Buy now for <span id="total-reduced-price">{{ (total / 2) }}</span> TND
				</button>
			</div>
			<div class="col-md-5 col-sm-12">
				<ul class="books-in-cart">
					{% for e in data %}
					<li class="cart-item">
						<div class="book-img">
							<img src="https://covers.openlibrary.org/b/olid/{{ e.book.cover }}-L.jpg" alt="Book"/>
						</div>
						<div class="book-description">
							<div class="book-title">{{ e.book.title }}</div>
							<div class="book-author">{{ e.book.author }}</div>
							<div class="book-description">{{ e.book.description|slice(0, 40) }}...</div>
							<div class="book-price"><span class="price-tag"></span><span class="price-text"><span class="price">{{ e.book.price }}</span> DT</span></div>
						</div>
						<div class="remove-icon">
							<a href="{{ path('cart_remove', {'id': e.book.id}) }}" class="btn btn-danger">Remove</a>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</header>
{% endblock %}