{% extends '/AdminDashboard/base.html.twig' %}

{% block title %}
	Books
{% endblock %}

{% block content %}
	<main>
		<div class="container" style="display: flex; justify-content: center;">
			<a class="add-btn" href="{{path('app_add_book_admin')}}">Add book</a>
		</div>

		<div class="input-group">
			<input type="search" placeholder="Search a book...">
			<span class="material-symbols-outlined">
				search
			</span>
		</div>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		
		<div class="recent-orders">
			<table>
				<thead>
					<tr>
						<th>Book ID</th>
						<th>Cover</th>
						<th>Title</th>
						<th>Author</th>
						<th>Price</th>
						<th>Stock</th>
						<th>Description</th>
						<th>Actions</th>
					</tr>
				</thead>

				<tbody>
					{% for book in books %}
						<tr>
							<td>
								{{book.getId()}}
							</td>
							<td>
								<img style="height: 100px;" src="{{ asset(book.getBookImage()) }}"/>
							</td>
							<td>
								{{book.getBookTitle()}}
							</td>
							<td>
								{{book.getBookAuthor()}}
							</td>
							<td>
								{{book.getBookPrice()}}
							</td>
							<td>
								{{book.getBookStock()}}
							</td>
							<td>
								{{book.getBookDescription()}}
							</td>

							<td class="action-btns">
								<div style="display: inline-flex;">
									<button class="edit-btn" onclick="location.href='{{path('app_edit_book_admin', {'id' : book.getId()})}}'">
										<span class="material-symbols-outlined">
											edit
										</span>
									</button>
									<form method="POST" action="{{path('app_delete_book_admin', {'id' : book.getId()})}}">
										<button onclick="return confirm('Are you sure you want to delete this book')" type="submit" class="delete-btn" name="delete-book">
											<span class="material-symbols-outlined">
												delete
											</span>
										</button>
									</form>
								</div>
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</div>

		<div class="container" style="display: flex;
																		                            justify-content: center;
																		                            align-items: center;">
			<div style="display: flex;"></div>
		</div>
	</main>
{% endblock %}
