{% extends '/AdminDashboard/base.html.twig' %}

{% block title %}
	Edit user
{% endblock %}

{% block content %}
	<main>

		<a href="{{path('app_user_admin')}}" class="go-back">
			<span class="material-symbols-outlined">
				arrow_back
			</span>
			<h3>Go back</h3>
		</a>

		{{ form_start(form, {'attr': {'class': 'edit-book'}}) }}
		{{ form_errors(form) }} 
		{{ form_row(form.user_fullname, {'attr': {'class': 'form-control'}}) }}
		{{ form_row(form.user_email, {'attr': {'class': 'form-control'}}) }}
		{# {{ form_row(form.isVerified, {'attr': {'class': 'form-control'}}) }} #}
		{# {{ form_row(form.roles, {'attr': {'class': 'form-control'}}) }}  #}

		<button type="submit" class="btn btn-success">Update User</button>
		{{ form_end(form) }} 

	</main>
{% endblock %}
