{% extends '/AdminDashboard/base.html.twig' %}

{% block title %}
	Edit user
{% endblock %}

{% block content %}
	<main>

		<a href="{{path('app_user_admin')}}" class="go-back">
			<span class="material-symbols-outlined">
				arrow_back
			</span>
			<h3>Go back</h3>
		</a>

		{{ form_start(form, {'attr': {'class': 'edit-book'}}) }}
		{{ form_errors(form) }}
		{{ form_row(form.user_, {'attr': {'class': 'form-control'}}) }}
		{{ form_row(form.order_date, {'attr': {'class': 'form-control'}}) }}
		<button type="submit" class="btn btn-success">Update Order</button>
		{{ form_end(form) }}

	</main>
{% endblock %}
