{% extends '/AdminDashboard/base.html.twig' %}

{% block title %}
	Edit book
{% endblock %}

{% block content %}
	<main>
		<a href="{{path('app_book_admin')}}" class="go-back">
			<span class="material-symbols-outlined">
				arrow_back
			</span>
			<h3>Go back</h3>
		</a>

		<h1>Edit Book</h1>
		{{ form_start(form, {'attr': {'class': 'edit-book'}}) }}
		{{ form_errors(form) }}
		{{ form_row(form.book_title, {'attr': {'class': 'form-control'}}) }}
		{{ form_row(form.book_price, {'attr': {'class': 'form-control'}}) }}
		{{ form_row(form.book_description, {'attr': {'class': 'form-control'}}) }}
		{{ form_row(form.book_image, {'attr': {'class': 'form-control'}}) }}
		{{ form_row(form.book_author, {'attr': {'class': 'form-control'}}) }}
		{{ form_row(form.book_stock, {'attr': {'class': 'form-control'}}) }}
		<button type="submit" class="btn btn-success">Edit Book</button>
		{{ form_end(form) }}
	</main>

{% endblock %}
