{% extends '/AdminDashboard/base.html.twig' %}

{% block title %}
	Users
{% endblock %}

{% block content %}
	<main>
		<h1>Users</h1>
		<div class="input-group">
			<input type="search" placeholder="Search a user...">
			<span class="material-symbols-outlined">
				search
			</span>
		</div>

		<div class="users-table">
			<table>
				<thead>
					<tr>
						<th>Client ID</th>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Email</th>
						<th>Role</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for user in users %}
				<tr>
					<td>
						{{user.getId()}}
					</td>
					<td>
						{{user.getUserFullname()}}
					</td>
					<td>
						{{user.getUserEmail()}}
					</td>
					<td>
						{{user.getRoles()}}
					</td>
					<td>
						{{user.getPassword()}}
					</td>

					<td class="action-btns">
						<div style="display: inline-flex;">
							<button class="edit-btn" onclick="location.href='{{path('app_delete_user_admin', {'id' : user.getId()})}}'">
										<span class="material-symbols-outlined">
											edit
										</span>
							</button>
							<form method="POST" action="{{path('app_delete_user_admin', {'id' : user.getId()})}}">
								<button onclick="return confirm('Are you sure you want to delete this user')" type="submit" class="delete-btn" name="delete-user">
											<span class="material-symbols-outlined">
												delete
											</span>
								</button>
							</form>
						</div>
					</td>
				</tr>
				{% endfor %}

				</tbody>
			</table>
		</div>
	</main>
{% endblock %}
